.display-container {
    border: 1px solid var(--tertriary-blue);
    border-radius: 5px;
    margin: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}
.display-container-inner{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)/2);
    grid-column: span 4;
}
.display-text {
    font-size: 1.6rem;
    grid-column:  span 1;
}
.display-icon {
    grid-column:  span 1;
    justify-self: end;
}
@media screen and (min-width: 750px) {
    .display-container {
        margin: 0;
    }
}